language: node_js
node_js:
- '5'
addons:
  code_climate:
    repo_token: b686c6b0e7869c1ca1ffa0dda2d5d87a6cbf265608e0b508d269e4b218fdb7cc
before_script:
- npm install -g codeclimate-test-reporter
after_script:
- codeclimate-test-reporter < coverage/lcov.info
deploy:
  provider: npm
  email: serveradmin@octoblu.com
  api_key:
    secure: L/V8FLjviufaWubHSv/++i9mgwoe8a/WlbHykTB2/9GtodcnWPKAf8MQvT5JJyEMVoPGAvmjxceSGhmYGdC1mj04ZyJbhk0bZse+FLA8rS0iJf76tnGIyTeDQA4rLn6B4yysOrBdJrPSd+N6vlWiCret82mmuV1ZooDZHN5dy/tB2orfjVvSsXw0XKr+EabQ78IbewJiFUE3tvSLiFsAtVXRqdCtaQKybNT4dcTv+OY/Qfiw894Br1rW52FN5GfDR3W2Uyz6zsdg0KUPExBMPqXeLYbDTqZlKH/UBDw2aKLQN+hIPQvfVIvmcZegfX9MjHXpO6G46DNwIxYLFt5WsIhNrauEvu/pYS84toVoPxTqY7sNKv5PeQ0PCKRL3gfRUQBJdTulcJgpw2gR/5ahEORe4tyqVvfy6Q20Qjtb1fzxMMrJvMjtCADRkrc3ORUHof4GfIdPtc8SswJolHE1nedQvG8oFBVm0bbaEXC90seXoqSXRefDTJva65x7fXlIP63NIvvBUmtRfCfqNsPKsgW9nyxMic7vxi0NUMRmZBDwmahMbqrupyyT/4lb5oxusijky1FPg1a5hBVKhdjyqWUowUGQ0WpVPAqWbTCVuwm37qFuFRA/Prc77GVfPBu8156WJd+p1e2XAkKnQ6FzyopIFGuGFkHV7zGCgLH8kKw=
  on:
    tags: true
    branches: true
after_success:
- bash <(curl -s https://codecov.io/bash)
